<!--BTC MAIN-->

<div class="svg">
  <img  src="../../assets/images/Ethereum_Logo.svg">
</div>

<h1 class="divflex">
  Timestamp: {{ bitCoinPrice?.timestamp | amFromUnix | amDateFormat:'hh:mmA' }} $ 
</h1>

<h1 class="divflex" id="last">
  Last: {{ etherPrice?.data?.price?.usd }} $
</h1>


<h1 class="divflex" id="low">
  Gas used: {{ etherPrice?.data?.difficulty?.gasUsed }} $
</h1>

<h1 class="divflex" id="high">
  Gas limit: {{ etherPrice?.data?.difficulty?.gasLimit }} $
</h1>

<h1 class="divflex">
  Name: {{ etherPrice?.data?.difficulty?.name }} 
</h1>

<h1 class="divflex">
  Blocktime: {{ etherPrice?.data?.difficulty?.blockTime }} $
</h1>
