.divflex {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.7em; 
    color: lightgray;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em; 
    align: center;
}

.button {
    font-size: 0.5em;   
    color: white;
    background-color:  black
}

.svg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#high {
    color: red;
}

#last {
    color: green;
}

#low {
    color: blue;
}