<!--BTC MAIN-->

<div class="svg">
  <img  src="../../assets/images/Bitcoin_Logo.svg">
</div>

<h1 class="divflex">
  Timestamp: {{ bitCoinPrice?.timestamp | amFromUnix | amDateFormat:'hh:mmA' }} $ 
</h1>

<h1 class="divflex" id="high">
  High: {{ bitCoinPrice?.high }} $
</h1>

<h1 class="divflex" id="last">
  Last: {{ bitCoinPrice?.last }} $
</h1>

<h1 class="divflex" id="low">
  Low: {{ bitCoinPrice?.low }} $
</h1>

<h1 class="divflex">
  Volume: {{ bitCoinPrice?.volume | number : '1.2-2' }} $ 
</h1>

<h1 class="divflex">
  Bid: {{ bitCoinPrice?.bid }} $ 
</h1>


