/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*to use or grab the whole view with fxFlexFill*/
html {
    min-height: 100vh;
    height: 100vh;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0em 0em;
    background:black;
    font-family: 'Doppio One', sans-serif;
    color: white;
}