.divflex {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.7em; 
    color: orangered;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em; 
    align: center;
}

.button {

/* We first create a flex layout context */
  display: flex;
  /* Then we define the flow direction and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: center;

  /*Font-size*/
    font-size: 2.2em; 

}