.divflex {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.47em; 
    color: orangered;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em; 
    align: center;
}

.button {
    font-size: 0.5em;   
    color: black;
    background-color:  white;
}

#date {
    color: lightblue
}